<!DOCTYPE html>
<html>
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'miniblog/css/style.css' %}">
<body class="w3-blue">
<div class="w3-card-2  w3-white">
<h6 class="w3-brand">Name |</h6>
 <a href="{% url 'index' %}" class="top-menu">Home</a>
            <a href="{% url 'add' %}" class="top-menu">Add Posts</a>
           
</div>
{% block content %}

                    {% endblock %}
<div class="w3-container w3-white">
  <small>pruto's</small>
</div>

<script>


</script>
</body>
</html>
