{% extends 'miniblog/base.html' %}
{% block content %}
<div >
<br>
{% if all_items %}
{% for postz in all_items %}
<div class="w3-margin">
<div class=" w3-card-2 w3-round w3-white">
<div class="w3-container ">
<img class="w3-round w3-image">
published on <i>{{ postz.pubdate }}</i>
<hr>
<p>
          <p>{{ postz.posts }}</p>
          <p>
          <center>
          <img style="width: 60%;" src="{{ postz.file_name.url }}">
          </center>
          </p>
 </div>
</div>
</div>
{% endfor %}
{% else %}
<div class="w3-white">
<p>No posts Yet<p>
</div>
{% endif %}
</div>
 {% endblock %}

